.warning {
	padding: 20px;
	background-color: #FF6B35;
	color: white;
	margin-bottom: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}

.contenido {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	position: relative;
	overflow: hidden;
	flex-direction: column; /* Alinea los elementos en columna */
	background-color: #f6f3f2;
}

.main {
	width: 350px;
	height: 480px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	transition: height 0.5s ease;
	/* Agrega una transición suave en la altura */
	text-align: center;
	background: rgb(46, 45, 45);
}

.main.small {
	height: 780px;
	overflow: hidden;
	.login .form-floating, .button_login{
		display: none;
	}
}

#chk {
	display: none;
}

.login {
	position: relative;
	width: 100%;
	height: 100%;
}

.contenido .title {
	color: #fff;
	font-size: 2.7em;
	justify-content: center;
	display: flex;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.contenido .login .title {
	margin: 40px 10px 40px 10px;
}

.contenido .signup .title {
	margin: 65px 10px 40px 10px;
}

.contenido input {
	width: 60%;
	height: 20px;
	background: white;
	justify-content: center;
	display: flex;
	margin: 2px;
	border: none;
	outline: none;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(250, 247, 247, 0);
	/* Sombra suave */
	transform: scale(1.05);
}

.contenido .form-floating{
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(1.05);
}

.contenido .form-floating label{
	margin-left: 70px;
	transform: scale(1.05);
}

.contenido input:focus {
	outline: none;
	box-shadow: 4px 4px 8px #0095ff;
	/* Sombra con tono cósmico */
}



.contenido button {
	width: 60%;
	height: 50px;
	margin: 30px auto 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	font-size: 1.3em;
	background: #68B3D1;
	transition: background 0.3s ease, transform 0.2s ease;
	/* Animaciones */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	/* Sombra suave */
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.contenido button:hover {
	/* Gradiente rojo al pasar el cursor */
	transform: scale(1.05);
	/* Aumentar ligeramente el tamaño */
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
	/* Sombra más pronunciada */
}

.contenido .login button:hover {
	color: #68B3D1;
	background: #fff;
}

.contenido .signup button:hover {
	color: #ffffff;
	background: rgb(46, 45, 45);
}

.signup {
	height: 780px;
	background: #f5f5f5;
	border-radius: 70% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.signup .title {
	color: #3886c1;
	transform: scale(.8);
}

#chk:checked~.signup {
	transform: translateY(-793px);
}

#chk:checked~.signup .title {
	transform: scale(1);
}

#chk:checked~.login .title {
	transform: scale(.8);
	margin-top: 20px;
	text-align: start;
}