<div class="col-lg-3">
    <div class="sidebar">

        <h3 class="sidebar-title">Filtros</h3>
        <div class="sidebar-item search-form">
            <form action="">
                <div class="form-floating">
                    <input type="text" class="form-control" id="codigo_inmueble"
                        placeholder="Buscar por código inmueble">
                    <button type="submit"><i class="bi bi-search"></i></button>
                    <label for="codigo_inmueble">Código inmueble</label>
                </div>

            </form>
        </div><!-- End sidebar search formn-->
        <div class="row">
            <span>Ubicación</span>
        </div>
        <div class="row">
            <button id="btnMostrarpaises"
                class="btn btn-selec d-flex justify-content-between align-items-center">
                <span>Seleccionar Pais</span>
                <span><i class='bx bx-chevron-down'></i></span>
            </button>

            <div id="paises" class="mt-3 collapse overflow-auto" style="max-height: 200px;">
                <form id="formPais">                            

                </form>
            </div>
        </div>

        <div class="row">
            <button id="btnMostrarEstados"
                class="btn btn-selec d-flex d-none justify-content-between align-items-center">
                <span>Seleccionar Estado</span>
                <span><i class='bx bx-chevron-down'></i></span>
            </button>

            <div id="estados" class="mt-3 collapse overflow-auto" style="max-height: 200px;">
                <form id="formEstados">

                </form>
            </div>
        </div>

        <div class="row">
            <button id="btnMostrarMunicipios"
                class="btn btn-selec d-flex d-none justify-content-between align-items-center">
                <span>Seleccionar Municipio</span>
                <span><i class='bx bx-chevron-down'></i></span>
            </button>

            <div id="municipios" class="mt-3 collapse overflow-auto" style="max-height: 200px;">
                <form id="formMunicipios">

                </form>
            </div>
        </div>

        <div class="row">
            <span>Nro. De Habitaciones</span>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="habitaciones" id="habitación-1+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="habitación-1+">1+</label>

                <input type="radio" class="btn-check" name="habitaciones" id="habitación-2+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="habitación-2+">2+</label>

                <input type="radio" class="btn-check" name="habitaciones" id="habitación-3+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="habitación-3+">3+</label>

                <input type="radio" class="btn-check" name="habitaciones" id="habitación-4+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="habitación-4+">4+</label>

                <input type="radio" class="btn-check" name="habitaciones" id="habitación-5+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="habitación-5+">5+</label>
            </div>
        </div>

        <div class="row">
            <span>Nro. De Baños</span>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="baños" id="baño-1+" autocomplete="off">
                <label class="btn btn-outline-primary" for="baño-1+">1+</label>

                <input type="radio" class="btn-check" name="baños" id="baño-2+" autocomplete="off">
                <label class="btn btn-outline-primary" for="baño-2+">2+</label>

                <input type="radio" class="btn-check" name="baños" id="baño-3+" autocomplete="off">
                <label class="btn btn-outline-primary" for="baño-3+">3+</label>

                <input type="radio" class="btn-check" name="baños" id="baño-4+" autocomplete="off">
                <label class="btn btn-outline-primary" for="baño-4+">4+</label>

                <input type="radio" class="btn-check" name="baños" id="baño-5+" autocomplete="off">
                <label class="btn btn-outline-primary" for="baño-5+">5+</label>
            </div>
        </div>

        <div class="row">
            <span>Nro. De Estacionamientos</span>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="estacionamiento" id="estacionamiento-1+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="estacionamiento-1+">1+</label>

                <input type="radio" class="btn-check" name="estacionamiento" id="estacionamiento-2+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="estacionamiento-2+">2+</label>

                <input type="radio" class="btn-check" name="estacionamiento" id="estacionamiento-3+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="estacionamiento-3+">3+</label>

                <input type="radio" class="btn-check" name="estacionamiento" id="estacionamiento-4+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="estacionamiento-4+">4+</label>

                <input type="radio" class="btn-check" name="estacionamiento" id="estacionamiento-5+"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="estacionamiento-5+">5+</label>
            </div>
        </div>

        <div class="row">
            <span>Precio</span>
            <div class="input-group">

                <div class="form-floating">
                    <input type="text" class="form-control" id="precio_minimo" placeholder="Máximo"
                        oninput="formatoUnidadesDecimales('precio_minimo')">
                    <label for="precio_minimo">Desde</label>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="precio_máximo" placeholder="Mínimo"
                            oninput="formatoUnidadesDecimales('precio_máximo')">
                        <label for="precio_máximo">Hasta</label>
                    </div>
                </div>

                <span class="input-group-text">$</span>

            </div>
        </div>

    </div>
</div>