{% extends 'base.html' %}

{% block active_inmuebles %}active{% endblock %}

{% load static %}


{% block css %}
<link href="{% static 'assets/css/inmuebles.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Inmuebles</h2>
            <ol>
                <li><a href="{% url 'inicio:home' %}">Inicio</a></li>
                <li>Inmuebles</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="inmuebles" class="inmuebles">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row">
            
            {% include "vistas_inmuebles/filtros.html" %}
            {% include "vistas_inmuebles/vista.html" %}
            
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/inmuebles.js' %}"></script>
<script src="{% static 'assets/js/data.js' %}"></script>
{% endblock %}