{% load static %}

<div class="col-lg-9 entries">
  <section id="inmuebles" class="inmuebles">
    <ul id="inmuebles-flters">
      <li data-filter="*" class="filter-active">All</li>
      {% for tipo in filtro_tipo %}
        <li data-filter=".filter-{{ tipo|cut:" " }}">{{ tipo }}</li>
      {% endfor %}
    </ul>

    <div class="row inmuebles-container" data-aos="fade-up">
      <div class="section section-properties">
        <div class="container">
          <div class="row">
            {% for inmueble in inmuebles %}
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 inmuebles-item filter-{{ inmueble.tipo|cut:" " }}">
                <div class="property-item mb-30">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <a href="{% url 'inmuebles:detail inmueble.id' %}" class="img"><img src="{% static 'assets/img/inmuebles/img_1.jpg' %}" alt="Image" class="img-fluid" /></a>
                      </div>
                      <div class="carousel-item">
                        <a href="{% url 'inmuebles:detail inmueble.id' %}" class="img"><img src="{% static 'assets/img/inmuebles/img_2.jpg' %}" alt="Image" class="img-fluid" /></a>
                      </div>
                      <div class="carousel-item">
                        <a href="{% url 'inmuebles:detail inmueble.id' %}" class="img"><img src="{% static 'assets/img/inmuebles/img_3.jpg' %}" alt="Image" class="img-fluid" /></a>
                      </div>
                    </div>
                  </div>
                  <div class="property-content text-center">
                    <span class="city text-black-50">{{ inmueble.transaccion }} - {{ inmueble.tipo }}</span>

                    <div class="price mb-2">
                      <span>${{ inmueble.precio }}</span>
                    </div>
                    <div>
                      <span class="d-block mb-2 text-black-50">{{ inmueble.ubicacion.direccion }}</span>
                      <span class="city d-block mb-3">{{ inmueble.ubicacion.estado.nombre }}, {{ inmueble.ubicacion.pais.nombre }}</span>

                      <div class="specs d-flex mb-4" style="justify-content: center;">
                        <span class="d-block me-3">
                          <span class="bx bxs-bed me-2"></span>
                          <span class="caption">{{ inmueble.habitaciones }} Hab.</span>
                        </span>

                        <span class="d-block me-3">
                          <span class="bx bxs-bath me-2"></span>
                          <span class="caption">{{ inmueble.banos }} Baños</span>
                        </span>

                        <span class="d-block me-3">
                          <span class="bx bxs-car-garage me-2"></span>
                          <span class="caption">{{ inmueble.puestos_estacionamiento }} Est.</span>
                        </span>
                      </div>

                      <a href="{% url 'inmuebles:inmueble-ref' %}" class="btn btn-primary py-2 px-3">Ver más</a>
                    </div>
                  </div>
                </div> <!-- .item -->
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center py-5">
      <div class="col-lg-3">Paginación (1 de 10)</div>
      <div class="col-lg-6 text-center">
        <div class="inmuebles-pagination">
          <ul class="justify-content-center">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
